/.* export-ignore
/Src/Matpo/PhpSimple/simplehtmldom_1_5/app export-ignore
/Src/Matpo/PhpSimple/simplehtmldom_1_5/example export-ignore
/Src/Matpo/PhpSimple/simplehtmldom_1_5/manual export-ignore
/Src/Matpo/PhpSimple/simplehtmldom_1_5/testcase export-ignore
/Src/Matpo/PhpSimple/simplehtmldom_1_5/change_log.txt export-ignore
